
<form #form="ngForm" (submit)="onSubmit(form)">
    


    <input type="hidden" name="iD"
    [value]="service.formData.id" />

    <div class="form-group">
        <label>Employee Name</label>
        <input type="text" class="form-control form-control-lg" placeholder="First Name"
        name="firstName" #firstName="ngModel" [(ngModel)]="service.formData.firstName"
        />
    </div>
  
    <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control form-control-lg" placeholder="Last Name"
        name="lastName" #lastName="ngModel" [(ngModel)]="service.formData.lastName"
        >
    </div>
    
    <div class="form-group">
        <label>Gender</label>
        <input type="text" class="form-control form-control-lg" placeholder="Gender"
        name="gender" #gender="ngModel" [(ngModel)]="service.formData.gender"
        />
    </div>
    
    <div class="form-group">
        <label>Gender</label>
        <input type="date" class="form-control form-control-lg" placeholder="Date of Birth"
        name="dOB" #dOB="ngModel" [(ngModel)]="service.formData.dOB"/>
    </div>
    <div class="form-group">
        <label>Department Name</label>
        

        <select class="form-control form-control-lg" [(ngModel)]="selectedDep"  (change)="selectChangeHandler($event)">
            <option default>Select Department...</option>
            <option *ngFor="let dep_ of service.depList" [value]="dep_.id">
                {{dep_.departmentName}}
            </option>
            <!-- <select [(ngModel)]="service.selectedObject"> 
                <select>
                <option *ngFor="let dpt of service.formData.depList">
                     {{dpt.departmentName}}
                 </option>
              </select>
              -->
        </select>   
    </div>

    
    


    <div class="form-group">
        <label>Basic Salary</label>
        <input type="number" class="form-control form-control-lg" placeholder="Basic Salary"
        name="basicSalary" #basicSalary="ngModel" [(ngModel)]="service.formData.basicSalary"/>
    </div>

    <div class="form-group">
        <button class="btn btn-info btn-lg btn-block" type="submit">SUBMIT</button>
    </div>

  </form>
